body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  max-width: 1139px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blueviolet;
  transition: color 200ms ease-in-out;
}